{% load static %}
{% load compress %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coincoin</title>

    {% compress css %}
    <link rel="stylesheet" href="{% static 'node_modules/oojs-ui/dist/oojs-ui-apex.min.css' %}">
    {% endcompress %}

    {% compress js %}
    <script src="{% static 'node_modules/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'node_modules/oojs/dist/oojs.min.js' %}"></script>
    <script src="{% static 'node_modules/oojs-ui/dist/oojs-ui.min.js' %}"></script>
    <script src="{% static 'node_modules/oojs-ui/dist/oojs-ui-apex.min.js' %}"></script>
    {% endcompress %}

    {% compress css %}
    <link rel="stylesheet" href="{% static 'coincoin/css/main.css' %}">
    {% endcompress %}

    {% compress js %}
    <script src="{% static 'coincoin/js/main.js' %}"></script>
    {% endcompress %}

</head>

<body>
    <div class="wrapper">
        <h1>Demo ToDo app with OOUI</h1>
    </div>
</body>

</html>
