beautifulsoup4
celery[redis]
dj-database-url
Django
djangorestframework
django-autoslug
django-celery-beat
django-celery-results
django-filter
drf-nested-routers
gunicorn
html5lib
psycopg[binary,pool]
requests
whitenoise[brotli]
